apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: {{ .Values.ingress.rewriteTarget }}

spec:
  ingressClassName: nginx
  rules:
  {{- range .Values.ingress.rules }}
  - host: {{ .host }}
    http:
      paths:
      {{- range .paths }}
      - backend:
          service:
            name: {{ $.Release.Name }}
            port:
              number: 80
        path: {{ .path }}
        pathType: ImplementationSpecific
      {{- end }}
  {{- end }}
